# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore AppData and other system folders
# AppData/
# AppData/Local/
# AppData/Local/*

# Ignore system files and user directories
AppData/
Cookies/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
NTUSER.DAT*
node_modules/
.vscode/
.config/
.gradle/
.ipynb_checkpoints/
.ipython/
.jupyter/
.m2/
.android/
.atom/
.bash_history
.conda/
.continuum/
.flutter/
.gitconfig
.ssh/
.emulator_console_auth_token
OneDrive/
package-lock.json
*.exe
*.zip
*.7z

